@import('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700|Fira+Sans+Condensed:100,300,400,700|Raleway:300,400,500,700|Roboto:100,400,400i,700,700i');
/*--------------------------------------*/
/*------------- FUNCTIONS --------------*/
/*--------------------------------------*/
Antialiased()
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
Transition(ARRAY)
	-webkit-transition ARRAY
	-moz-transition ARRAY
	-o-transition ARRAY
	-ms-transition ARRAY
	transition ARRAY
Animation(VARS)
	-webkit-animation VARS
	-moz-animation VARS
	-o-animation VARS
	-ms-animation VARS
	animation VARS
Background-Gradient(direction, startColor, endColor)
	background-image -webkit-linear-gradient(direction, startColor, endColor)
	background-image -moz-linear-gradient(direction, startColor, endColor)
	background-image -ms-linear-gradient(direction, startColor, endColor)
	background-image -o-linear-gradient(direction, startColor, endColor)
	background-image linear-gradient(direction, startColor, endColor)
Background-Gradient-Third(direction, startColor, midColor, endColor)
	background-image -webkit-linear-gradient(direction, startColor, midColor, endColor)
	background-image -moz-linear-gradient(direction, startColor, midColor, endColor)
	background-image -ms-linear-gradient(direction, startColor, midColor, endColor)
	background-image -o-linear-gradient(direction, startColor, midColor, endColor)
	background-image linear-gradient(direction, startColor, midColor, endColor)
BoxSizing()
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
Filter(PROP)
	-webkit-filter PROP
	filter PROP
Flex()
	display -webkit-box
	display -moz-box
	display -ms-flexbox
	display flex
Gray(PC)
	col = 255-((255*PC)/100)
	rgb(col,col,col)
MakeColors(CLR,NAME)
	.cl-{NAME}
		color CLR
	.bg-{NAME}
		background-color CLR
	.hover-{NAME}:hover
		color CLR
	.bg-hover-{NAME}:hover
		background-color CLR
	.bd-bottom-{NAME}
		border-bottom 1px solid CLR
	.bd-top-{NAME}
		border-top 1px solid CLR
	.bd-left-{NAME}
		border-left 1px solid CLR
	.bd-right-{NAME}
		border-right 1px solid CLR
	.bd-full-{NAME}
		border 1px solid CLR
Transform(PROP)
	-ms-transform PROP
	-webkit-transform PROP
	transform PROP
TransformOrigin(PROP)
	-ms-transform-origin PROP
	-webkit-transform-origin PROP
	transform-origin PROP
Radius(SZ)
	-webkit-border-radius SZ
	-moz-border-radius SZ
	border-radius SZ
Shadow(VARS)
	-webkit-box-shadow VARS
	-moz-box-shadow VARS
	box-shadow VARS
/*--------------------------------------*/
/*------------- COLOURS ----------------*/
/*--------------------------------------*/
gold_1 = #b39743
gold_2 = #756c5d
fucsia_0 = #fceff8
fucsia_1 = #f4cee7
fucsia_2 = #f5b9d3
fucsia_3 = #e7127c
fucsia_4 = #950b4f
fucsia_5 = #5c002e
pink_1 = #fcd9d9
pink_2 = #df7979
pink_3 = #df3e3e
cyan_0 = #d4effb
cyan_1 = #b6d4f2
cyan_2 = #639edb
cyan_3 = #2e71b7
cyan_4 = #224b78
cyan_5 = #172e48
yellow_1 = #fff2dc
yellow_2 = #ffe4bc
yellow_3 = #c79448
yellow_4 = #7f5415
green_1 = #dffadb
green_2 = #7cbe72
green_3 = #407938
green_4 = #164010
aqua_0 = #f0fffc
aqua_1 = #baebe1
aqua_2 = #8ad4d6
aqua_3 = #68bbce
aqua_4 = #5ba4c8
aqua_5 = #215663
aqua_6 = #133941
MakeColors(white,'white')
MakeColors(black,'black')
MakeColors(red,'red')
MakeColors(orange,'orange')
MakeColors(green,'green')
MakeColors(cyan,'cyan')
MakeColors(purple,'purple')
MakeColors(gold_1,'gold-1')
MakeColors(gold_2,'gold-2')
MakeColors(fucsia_0,'fucsia-0')
MakeColors(fucsia_1,'fucsia-1')
MakeColors(fucsia_2,'fucsia-2')
MakeColors(fucsia_3,'fucsia-3')
MakeColors(fucsia_4,'fucsia-4')
MakeColors(fucsia_5,'fucsia-5')
MakeColors(pink_1,'pink-1')
MakeColors(pink_2,'pink-2')
MakeColors(pink_3,'pink-3')
MakeColors(cyan_0,'cyan-0')
MakeColors(cyan_1,'cyan-1')
MakeColors(cyan_2,'cyan-2')
MakeColors(cyan_3,'cyan-3')
MakeColors(cyan_4,'cyan-4')
MakeColors(cyan_5,'cyan-5')
MakeColors(yellow_1,'yellow-1')
MakeColors(yellow_2,'yellow-2')
MakeColors(yellow_3,'yellow-3')
MakeColors(yellow_4,'yellow-4')
MakeColors(green_1,'green-1')
MakeColors(green_2,'green-2')
MakeColors(green_3,'green-3')
MakeColors(green_4,'green-4')
MakeColors(aqua_0,'aqua-0')
MakeColors(aqua_1,'aqua-1')
MakeColors(aqua_2,'aqua-2')
MakeColors(aqua_3,'aqua-3')
MakeColors(aqua_4,'aqua-4')
MakeColors(aqua_5,'aqua-5')
MakeColors(aqua_6,'aqua-6')
MakeColors(blue,'blue')
MakeColors(transparent,'transparent')
/*--------------------------------------*/
/*------------- DISPLAY ----------------*/
/*--------------------------------------*/
.dp-none
	display none
.dp-ib
	display inline-block
	vertical-align top
.dp-block
	display block
.dp-table
	display table 
	position relative	
	table-layout auto
.dp-table-cell
	display table-cell
	vertical-align middle
	overflow hidden
.dp-flexbox
	display flex
	align-items center
	justify-content center
.overprint-fixed,.overprint-absolute
	background-position center center 
	background-repeat no-repeat
	background-size cover
	height 100%
	left 0
	top 0
	width 100%
.overprint-fixed
	position fixed 
.overprint-absolute
	position absolute
.parallax-mirror	
	img
		Filter(blur(2px))
.relative
	position relative
.clickable
	cursor pointer
.grayscale
	filter grayscale(100%)
.ui-effects-transfer
	background-color Gray(5)
	border 2px dotted Gray(20)
	z-index 50
#scrollUp 
	top 10px
	right 10px
	padding 2px 10px
	background black
	color #FFF
	i
		font-size 29px
for sz in 0 2 4 6 7 8 9 10 11 12 14 16 18 20 22 24 26 28 30 36 40 46
	.sz-{sz} 
		font-size 1pt * sz
	.lnhg-{sz}
		line-height 1pt * sz
	.pad-{sz}
		padding 1px * sz
for pc in 0 .. 100
	.wd-{pc}
		width 1% * pc
	.hg-{pc}
		height 1% * pc
	.op-{pc}
		opacity (pc/100)
	col = 255-((255*pc)/100)
	MakeColors( rgb(col,col,col), "gray-"+pc )
/*--------------------------------------*/
/*------------- THUMBS -----------------*/
/*--------------------------------------*/
.thumb-cover
	background-size cover
	background-position center center
	background-repeat no-repeat
.thumb-contain
	background-size contain
	background-position center center
	background-repeat no-repeat
.thumb-fullx380
	height 380px
.thumb-fullx280
	height 280px
.thumb-fullx80
	height 80px
.thumb-fullx180
	height 180px
.thumb-fullx120
	height 120px
.thumb-80x80
	height 80px
	width 80px
.thumb-100x100
	height 100px
	width 100px
.thumb-150x150
	height 150px
	width 150px
.thumb-200x200
	height 200px
	width 200px
.thumb-300x300
	height 300px
	width 300px
.thumb-400x400
	height 400px
	width 400px
.img-wide
	width 100%
/*--------------------------------------*/
/*------------- FONTS ------------------*/
/*--------------------------------------*/
.ff-opensans
	font-family 'Open Sans', sans-serif
.ff-lora
	font-family 'Lora', sans-serif	
.fw-300
	font-weight 300
.fw-400
	font-weight 400
.fw-600
	font-weight 600
.fw-700
	font-weight 700
.required
	background-color rgba(255,0,0,0.025) !important
	border 1px solid red !important
.strikethrough
	text-decoration line-through
/*--------------------------------------*/
/*------------- STYLES -----------------*/
/*--------------------------------------*/
body 
	font-family 'Raleway', sans-serif
	//font-family 'Roboto', sans-serif
	font-weight normal
	Antialiased()
	position relative
	//left -320px
h1,h2,h3,h4
	//font-family 'Lora', sans-serif
	//font-style italic
	font-family 'Fira Sans Condensed', sans-serif
	font-weight 300
.title-bar 
	background-color aqua_3
	background-color aqua_1
	color aqua_5
	//color white
	padding 8px 0
	margin 16px 0 10px 0
	text-align center
	.title 
		margin 0
section,footer,header
	position relative
	.container 
		position relative
a 
	color Gray(60)
	Transition(color 300ms ease-out)
label 
	span 
		font-weight 300
		font-style italic
.section-header
	padding 80px 0
		&:hover 
			color white
			text-decoration none
.gral-section 
	padding-top 50px
	padding-bottom 50px
.btn-fucsia
	background-color fucsia_3
	border-color fucsia_3
	color white
	&:hover,&:focus,&:active,&:active:hover,.active:hover
		background-color fucsia_4
		border-color fucsia_5
		color pink_1
.btn-cyan
	background-color cyan_4
	border-color cyan_5
	color white
	&:hover,&:focus,&:active,&:active:hover,.active:hover
		background-color black
		border-color cyan_5
		color cyan_1
.btn-default
	//color fucsia_3
	color Gray(80)
.btn-white
	background-color white
	border 1px solid Gray(10)
	color Gray(80)
.btn-white-fucsia
	background-color white
	border 1px solid fucsia_3
	color fucsia_4
.btn-transparent
	background-color transparent
	border 1px solid Gray(10)
	color Gray(60)
	&:hover 
		background-color yellow_1
		color yellow_4
.btn-primary
	background-color aqua_4
	border-color aqua_4
.btn-secondary
	background-color aqua_5
	border-color aqua_4
	color aqua_2
	&:hover,&:focus,&:active,&:active:hover,.active:hover
		background-color aqua_4
		border-color aqua_4
		color white
.btn-success
	background-color green_2	
.fa-toggle-on 
	color green_3
.fa-toggle-off
	color red
.thumbnail
	overflow hidden
	position relative
	img.th 
		cursor grab
		left 0
		position absolute
		//transition all 400ms ease-out
		top 0
#pop_photo
	.pop-photo-container
		height 80%
		left 10%
		position absolute
		top 10%
		width 80%
	.fa-times 
		position absolute
		right 5%
		top 5%
.top-menu
	background-color aqua_1
	border-bottom 1px solid aqua_2
	.container
		ul
			margin 0
			padding 0
			li 
				display inline-block
				vertical-align top 
				a 
					color aqua_5
					display block
					font-size 7pt
					font-weight 600
					padding 5px 0 4px 0
				&:hover 
					a
						color black
						text-decoration none
		ul.right-menu 
			display flex
			position absolute
			right 10px
			top 0
			li
				border-left 1px solid aqua_2
				padding 0
				margin 0
				a					
					padding 6px 10px 4px 10px
					i 
						font-size 9pt						
				a:hover 
					background-color white
			li:last-of-type
				border-right 1px solid aqua_2
#loading
	z-index 11
header
	.container 
		.header-inner
			align-items center
			display flex 
			justify-content space-between
			.logo
				img 
					padding 16px 0
					max-width 220px
					width 100%
			.user 
				min-width 180px
				padding 16px 0
				position relative
				ul.menu-login
					margin 0
					padding 20px 0
					text-align right
					li
						display inline-block
						vertical-align top
						a 
							display block 
							font-size 10pt
							padding 0 10px 0 0
						&:hover
							a
								color fucsia_2
								text-decoration none 
					.separator
						padding 0 10px 0 0
			.user-logged
				align-items center
				display flex
				justify-content flex-end
				.avatar 
					background-color Gray(10)
					height 40px
					min-width 40px
					margin 0 8px
					Radius(4px)
					width 40px
				.user-title
					cursor pointer
					font-size 11pt
					font-weight 400
					margin 0
					position relative
					a
						display block
						i 
							margin 0 6px
						&:hover,&:focus
							color fucsia_3
							text-decoration none
				.menu-user-container
					margin 70px 0 0 0
					position absolute
					right 0
					//transform rotate3d(1,0,0,54deg)
					transform matrix3d(1,0,0.00,0,0.00,0,1.00,-0.001,0,-1,0,0,0,0,0,1)
					transform-origin top
					transition transform 200ms linear
					top 0
					width 100%
					z-index 10
					ul.menu-user
						background-color white
						border 1px solid Gray(10)						
						padding 0
						Radius(2px)
						Shadow(2px 2px 4px rgba(0,0,0,0.4))						
						text-align left
						width 100%						
						li
							display block
							a
								display block 
								font-size 10pt
								color Gray(80)
								margin 0
								padding 6px 10px
								transition background-color 300ms ease-out
								i
									width 18px
								&:hover 
									background-color fucsia_3
									text-decoration none
									color white
						li:first-of-type
							margin-top 12px
						li:last-of-type
							margin-bottom 6px
					.arrow
						background-color white
						border-top 1px solid Gray(10)
						border-left 1px solid Gray(10)
						top -7px
						height 16px
						left 44px
						transform rotate3d(0,0,1,45deg)
						position absolute
						width 16px
				.menu-user-container.active
					//height auto
					//transform rotate3d(1,0,0,0deg)
					transform matrix3d(1,0,0.00,0,0.00,1,0.00,0,0,0,1,0,0,0,0,1)
nav 
	//border-bottom 1px solid black
	//background-color hsla(0,100%,0,1)
	background-color aqua_3
	background-color black
	background-color aqua_5
	ul.main-menu
		display flex
		margin 0
		padding 0
		li
			display block
			margin 0
			text-align center
			transition background-color 300ms ease-out
			list-style-type none
			a 
				color white
				display block
				font-family 'Fira Sans Condensed', sans-serif
				font-size 11pt
				font-weight 300
				letter-spacing 0.1pt
				padding 10px 12px				
			&:hover 
				background-color aqua_3
				a
					color white
					text-decoration none 
		.active
			background-color aqua_3
		.highlight
			background-color fucsia_3
	.fa-bars 
		display none
		padding 16px
.home-slider
	margin 0 0
	.container-fluid
		.row
			.col-right,.col-left
				margin 0
				.mod-slide					
					display block
					position relative
					.next,.prev
						background-color white
						cursor pointer
						display block
						padding 10px 8px
						position absolute
						top 44%
						transition padding 300ms cubic-bezier(0.23, 1, 0.32, 1)
						&:hover 
							padding 10px 16px
					.next
						right 0
					.prev 
						left 0
					.slide
						.caption 
							background-color rgba(33,86,99,0.85)
							color white
							bottom 0
							left 0
							padding 8px 36px
							position absolute
							width 100%
							h1,h2,h3,h4
								margin 4px 0
					.navigation
						display none
						position absolute
						right 10px
						top 10px
						i 
							color aqua_2
						i.active 
							color fucsia_3
			.col-left
				padding 4px 4px 4px 0
			.col-right
				padding 4px 0 4px 0
				.mod-slide:first-of-type
					margin-bottom 4px
.news-home
	padding 36px 0
.home-carousel
	margin 0 
.carousel
	padding 16px 0
.search-bar,.newsletter
	background-color aqua_1
	border-bottom 1px solid aqua_2
	box-shadow inset 0 4px 6px rgba(22,80,94,0.30)
	padding 16px 0 10px 0
	input[type="text"],.input-group-addon
		border none
		border-bottom-right-radius 0
		border-bottom-left-radius 0
	.input-group,button
		margin 4px 0
	button 
		color aqua_0
		border-color transparent
		background-color aqua_3
	button:hover	
		background-color aqua_2
		border-color aqua_3
footer 
	padding 66px 0
	.bg 
		//filter grayscale(100%)
		//mix-blend-mode multiply
		opacity 1
	.container 
		.logo 
			max-width 240px
		.socials
			display flex			
			padding 16px 0
			.icon 
				align-items center 
				border 1px solid white
				border-radius 50%
				color white
				display flex
				justify-content center
				height 40px
				margin 0 8px 8px 0
				transition all 300ms ease-out
				min-width 40px
				width 40px
				i 
					font-size 2rem
				&:hover,&:focus
					border-color fucsia_3
					text-decoration none
					transform translateY(-5px)
					color fucsia_3			
		ul 
			li 
				display block
				a
					color white
					display block
					padding 6px 0
					&:hover,&:focus
						color fucsia_3
						text-decoration none
.copyright-footer
	padding 16px 0 36px 0
	background-color black
	color white
.payment
	padding 16px 0
	.cards
		img 
			Filter(grayscale(100%))
			height 30px
			margin 6px
	.afip
		position absolute
		right 0
		bottom 0
		img 
			max-width 40px
.bg-gradient
	Background-Gradient(top, fucsia_3, cyan_3)
.search-page
	background-color Gray(5)
	padding 10px 0
	.container,.container-fluid
		.search-header
			padding 10px 26px
		.search-container
			display flex
			align-items start
			.left-column
				background-color white
				border 1px solid Gray(10)
				flex-grow 0
				min-width 280px
				padding 16px
				width 280px
				.title-bar
					cursor pointer
					padding 4px 10px
					margin 0 0 6px 0
					text-align left
					i 
						float right
				ul.list
					margin 0 0 26px 0
					padding 0
					li 						
						display block
						a 
							border-bottom 1px solid Gray(5)
							display block
							font-size 9pt
							padding 6px 4px
							position relative
							span:first-of-type
								display block
								margin-right 36px
							.badge
								background-color Gray(20)
								right 8px
								position absolute 
								top 8px
							i 
								right 12px
								position absolute 
								top 8px
							&:hover
								background-color Gray(5)
								text-decoration none
								color cyan_2
						ul 
							margin 0
							padding 0
							li 
								a 
									margin 0 0 0 6px
				.filters
					margin 0 0 16px 0					
			.right-column
				overflow hidden
				padding-left 8px
				width 100%
				.filters 
					padding 8px 0
.header-overview
	padding 8px 0 16px 0
	.container		
		hr 
			margin 8px 0
		.row
			.contact-info
				line-height 20pt
				i 
					width 14px
					text-align center
					margin-right 4px
.overview
	background-color Gray(5)
	padding-bottom 46px	
	.breadcrumb 
		background-color white
		margin 16px 0 6px 0
		Radius(0)
		Shadow(0 2px 6px Gray(8))
	.title 
		text-align left
		padding-left 16px
	.overview-header,.overview-promos,.overview-info,.overview-comments,.overview-tags
		background-color white
		Shadow(0 2px 6px Gray(8))
		margin-bottom 6px	
	.overview-header
		background-color white
		display flex
		min-height 360px
		.info,.gallery
			position relative
		.gallery 
			background-color white 
			border-left 1px solid Gray(10)
			width 100%
			.navigation 
				i
					font-size 1rem 
					margin 0
		.info
			padding 16px
			min-width 476px
			width 476px
			.button-request
				.btn-default
					background-color aqua_4
					border-color aqua_3
					color white
			h1
				margin 0
			hr 
				margin 0
			.header-info
				align-items flex-start
				display flex
				text-align left
				padding 10px 0
				margin-bottom 6px	
				.logo 				
					border 1px solid Gray(20)
					background-color white
					min-width 120px
					height 120px
					width 120px
				.title
					margin 0 0 0 6px
					h1
						margin 0
						font-size 22pt
			.contact-info
				border-bottom 1px solid Gray(5)
				padding 0
				position relative
				margin 0
				.address,.more-stores,.phones,.whatsapp,.web,.schedules
					padding 6px 0
				i.icon 
					float left
					color aqua_3
					margin 2px 6px 0 0
					width 14px				
			.box-icons
				//text-align center
				padding 16px 0
				margin 0
				width 100%
				.item					
					//border-bottom 1px solid Gray(5)
					padding 6px 0
					margin 0
					.outer				
						display flex				
						justify-content space-between
						height 100%
						.inner 
							//align-items center
							display flex
							.rating
								.punctuation
									font-size 10pt
									font-weight 200
							.fa 
								color aqua_3
							.fa-inverse 
								color white
							.fa-stack:hover 
								.fa-circle
									color black
							.fa-heart-o,.fa-heart
								cursor pointer
								font-size 20pt
							.active 
								color fucsia_3
							.fa-eye
								font-size 20pt
								&:hover
									color black
	.overview-promos
		padding 16px
	.overview-info
		padding 16px
		.main-title 
			margin 0 0 8px 0
			font-weight 600
		.tab-content			
			border-right 1px solid Gray(15)
			border-left 1px solid Gray(15)
			border-bottom 1px solid Gray(15)
			min-height 320px
			padding 16px
		.map 
			background-color Gray(10)
			position relative
			height 536px
			transition height 300ms cubic-bezier(.23,1,.32,1)
		.map.active
			height 360px
		.stores-highlight
			display none
			transition  height 300ms cubic-bezier(.23,1,.32,1)
		.stores-highlight.active
			display block
		#stores
			border 1px solid Gray(5)
			background-color Gray(5)
			border-radius 4px
			padding 10px
			height 560px
			overflow auto
			.list-group
				.active
					background-color yellow_1
					border-color yellow_2
					color black
				h4
					font-weight bold
					margin 0
				ol 
					margin 0
					padding 4px 0
					li 
						display block
						padding 6px 0
						font-size 10pt
.schedules 
	cursor pointer
	position relative
	.schedules-block
		background-color white
		box-shadow 2px 2px 4px rgba(0,0,0,0.2)
		left 0
		overflow hidden
		padding 8px 16px
		position absolute
		transform matrix3d(1,0,0.00,0,0.00,0,1.00,-0.001,0,-1,0,0,0,0,0,1)
		transform-origin top
		transition transform 400ms cubic-bezier(0.23,1,0.32,1)
		border 1px solid Gray(20)
		z-index 10
		p 
			font-size 9pt
			margin 6px 0
	.schedules-block.active 
		transform matrix3d(1,0,0.00,0,0.00,1,0.00,0,0,0,1,0,0,0,0,1)
.comments	
	background-color white
	margin-bottom 6px	
	padding 10px
	Shadow(0 2px 6px Gray(8))
	.mod-comment
		Flex()
		border 1px solid Gray(5)
		padding 16px	
		margin 4px 0	
		.box-user
			margin-right 16px
			min-width 100px
			.thumbnail
				margin-bottom 2px
		.box-comment 
			padding 16px
			position relative			
			p,div,hr
				position relative
				z-index 1
			hr 
				margin 8px 0
			&:before,&:after				
				color Gray(5)
				font-family 'FontAwesome'
				font-size 90pt
				opacity 0.5
				position absolute
				z-index 0
			&:before
				content '\f10d'
				left 0
				top -40px
			&:after
				content '\f10e'
				right 0
				bottom -50px
			.comment-actions
				Flex()
				.item 
					padding 4px 10px
					margin-right 4px
					color white

.promo 	
	background-color Gray(5)
	.breadcrumb
		//display none
		background-color transparent
		margin 0
		padding 10px 15px
		font-size 1.265rem
	.block-white
		background-color white
		///padding 0
	.main-wrapper	
		background-color white
		display flex 
		.gallery 
			min-width 560px
			min-height 360px
			width 560px
			.navigation 
				i 
					font-size .875rem
					margin 0
		.info-wrapper
			padding 25px
			width 100%
			.promo-title 
				color aqua_5
				font-weight 600
				margin 0 0 8px 0
			.shop-action
				display flex 
				.amount
					min-width 60px
					width 60px
					select 
						border 1px solid aqua_4
						border-radius 0
						height auto
						color cyan_4					
				.button-action
					padding 0
					position relative
					.form-group
						position relative
						width 200px
					.highlight-button
						background-color aqua_4
						display flex
						justify-content space-between
						align-items center
						border none
						font-family 'Fira Sans Condensed'
						color white
						padding 0
						text-transform uppercase
						//height 34px
						width 200px
						span 
							padding 6px 16px
							margin 0
						i 
							padding 9px 16px
							margin 0
						span 
							cursor pointer
						i:last-of-type
							background-color aqua_5
							border-top-right-radius 4px
							cursor pointer
					.btn-list
						background-color aqua_5
						border 1px solid aqua_5
						position absolute
						padding 0
						margin 0
						z-index 9
						text-align left
						width 100%
						li 
							display block
							cursor pointer
							color white
							padding 8px 16px
							font-family 'Fira Sans Condensed'
							text-transform uppercase
							span
								margin-left 10px
							&:hover 
								background-color aqua_3
			.box-icons 
				display flex
				justify-content space-between
				padding 15px 0
				//align-items center
				.item
					padding 0
					i 
						color cyan_2
						color Gray(40)
						font-size 2rem
					.active 
						color fucsia_3
			.pricing
				margin 15px 0 15px 0
				padding 15px 0
				.promo-discount 
					color Gray(40)
				.promo-price 
					font-weight 600
					font-size 2rem
	.client-wrapper
		align-items center
		background-color Gray(5)
		background-color aqua_3
		background-color aqua_1
		color aqua_5
		display flex
		//display none
		padding 15px
		&:hover,&:focus
			text-decoration none
		.logo 
			background-color white
			border 2px solid white
			height 80px
			min-width 80px
			width 80px
		.client-info 
			padding 0 18px
			.client-name
				font-size 1.6rem
				font-weight 500
				margin 0 0 6px 0
			.client-location
				font-size 1.3rem
				margin 0
			.stars 
				i 
					font-size .875rem
@media screen and (max-width 967px)
	.promo 
		.main-wrapper	
			flex-wrap wrap 
			.gallery 
				order 2
				min-width 0
				min-height 360px
				width 100%
			.info-wrapper 
				order 1

.blog-page
	background-color Gray(0)
	padding-bottom 16px
	.container 
		display flex
		.blog-container
			width 100%
			.breadcrumb 
				background-color white
				margin 16px 0 4px 0
				Radius(0)
			.title 
				padding 16px
				position relative
				text-align left
				.bg
					mix-blend-mode multiply
				a 
					color white
				h1,h2,h3,h4
					color white
					font-weight 400
					position relative
					margin-top 0
			.title-header
				padding 68px 16px 26px 16px
			.blog-gallery
				position relative
				height 320px
			.blog-content
				background-color white
				padding 16px
				margin-bottom 8px
				img 
					max-width 100%
		.blog-related
			background-color white
			border-left 1px solid Gray(10)
			margin 16px 0 0 16px
			min-width 560px
			padding 8px 16px
			width 560px
			h1 
				font-size 14pt
				margin 0
			.mod-related
				border-top 1px solid Gray(5)
				display block
				margin 4px 0
				padding 10px 0
				&:hover 
					color cyan_2
					text-decoration none
				h1
					font-size 13pt
					font-weight 400
					margin 8px 0
				p
					font-size 8pt
.blog 
	background-color Gray(5)
	padding-bottom 16px
.button-menu
	margin 0
	padding 0
	li 
		display inline-block
		margin 4px 0
		a
			//background-color aqua_2
			//background-color fucsia_3
			//border 1px solid Gray(10)
			////border 1px solid aqua_4
			color aqua_5
			display block
			font-size 1.3rem
			font-weight 400
			padding 4px 8px
			///text-transform uppercase
			i 
				font-size 1rem
				margin-left 4px
			&:hover,&:focus
				background-color aqua_3
				//border 1px solid transparent
				color white
				text-decoration none
	li.active 
		a 
			background-color fucsia_3
			color white
.simple-list 
	margin 0
	padding 0
	li
		display block
		padding 4px 0
.number-list
	margin 15px 0 26px 15px 
	padding 0
	li 
		padding 6px 0
.gallery-section
	align-items center
	display flex
	justify-content space-between
	min-height 420px
	position relative
	i.prev,i.next
		background-color white
		cursor pointer
		padding 16px 6px
		position relative
		transition all 300ms cubic-bezier(0.23, 1, 0.32, 1)
		&:hover 
			padding 16px 20px
	.navigation
		bottom 0
		padding 6px 0
		position absolute
		text-align center
		width 100%
		i 
			color fucsia_3
			cursor pointer
			margin 0 4px
			&:hover 
				color white
		i.active 
			color white
	.play 
		align-items center
		background-color rgba(200,10,120,0.35)
		cursor pointer
		display flex 
		height 100%
		justify-content center
		left 0
		position absolute
		top 0
		transition background-color 300ms ease-out
		width 100%
		i 
			color black
		&:hover 
			background-color rgba(200,10,120,0.75)
			i 
				color white
	.video 
		background-color black 
		height 100%
		left 0
		padding 36px 
		position absolute
		top 0
		width 100%
		i
			color fucsia_2
			cursor pointer
			font-size 16pt 
			position absolute
			right 13px
			top 13px
			transition transform 300ms cubic-bezier(0.23,1,0.32,1)
			&:hover 
				color white
				transform rotate3d(0,0,1,360deg)
		iframe 
			position relative
			border 1px solid fucsia_4
.social-tab
	background-color black	
	position fixed
	top 42%
	left 0
	width 36px
	z-index 99
	.icon-social:hover 
		i
			padding 10px 20px
.icon-social
	display block
	i
		background-color black
		color white
		display block
		padding 10px
		text-align center
		transition all 300ms cubic-bezier(.23,1,.32,1)
		width 36px
	&:hover,&:focus
		text-decoration none
	i.fa-facebook:hover
		background-color #3b5998
	i.fa-google-plus:hover 
		background-color #db4437
	i.fa-twitter:hover 
		background-color #1da1f2
	i.fa-pinterest:hover 
		background-color #bd081c
	i.fa-linkedin:hover
		background-color #0077B5
	i.fa-whatsapp:hover 
		background-color #009846
.registro
	.btn-facebook,.btn-twitter
		display block
		margin 16px 0
		i 
			margin-right 10px
	.btn-facebook
		background-color #3b5998
	.btn-twitter
		background-color #1da1f2
		border-color #1da1f2
.profile-header
	padding 46px 0 26px 0	
	.container
		.profile-columns
			display flex
			.avatar-container
				.avatar
					background-color Gray(10)
					height 160px
					margin 0 16px 16px 0
					min-width 160px
					Radius(6px)
					width 160px
				button 
					margin-bottom 16px
			.user-name
				h1
					margin 0
					font-weight 700		
.profile-body 
	.container
		.form-group
			margin 16px 0
.mod-highlight-panels	
	align-items center
	//border 1px solid Gray(20)
	display flex
	margin 16px 0
	text-align center
	//Radius(4px)
	//Shadow(2px 2px 10px rgba(0,0,0,0.2))
	.item
		//padding 26px 20px
		h1 
			font-weight 700
			margin 0
		p 
			font-size 9pt
.section-header
	color white
	padding 120px 0 10px 0
	position relative
	h1 
		font-weight 700
	.bg
		mix-blend-mode multiply
	a 
		color white
.glossary-list
	.col 
		margin 10px 0
		h4
			margin-bottom 4px
		a 
			font-size 1.3rem
.glossary
	display flex
	flex-wrap wrap
	.group
		border 1px solid Gray(10)
		border-radius 4px
		padding 16px
		margin 26px 26px 10px 0
		min-width 240px
		width 240px
		.item 
			display block
			color aqua_5
			padding 2px 0
			&:hover 
				color cyan_4
.qualify
	.stars 
		display flex
		align-items top
		.stars-wrapper
			display flex
			flex-direction row-reverse
			padding-top 4px
			label
				cursor pointer
				font-size 18pt
				margin-right 2px
			input[type="radio"]
				display none
			label:hover:before,label:hover ~ label:before,input[type="radio"]:checked ~ label:before
				color fucsia_3
				content '\f005'
		.star-text-wrapper
			span 
				display none
				font-size 18pt
				font-weight 300
				margin 0 0 0 16px
			span.visible 
				display inline
			span.active 
				display inline
#modal_mp
	iframe 
		height 550px
		width 100%
/*--------------------------------------*/
/*--------------- SEARCH -----------------*/
/*--------------------------------------*/
.client-promo-container
	display flex
	flex-wrap wrap
	margin 0 -8px 0 0
	padding 0
	.mod-client-promos
		margin 0
		padding 0 8px 8px 0
		width (100/3)%
		.wrapper 
			border 1px solid Gray(10)
			box-shadow 2px 2px 4px alpha(black,.05)
			background-color white
			//display flex
			height 100%
			padding 10px
			margin 0
			.client 
				margin 0 0 4px 0
				display flex
				.logo 
					background-color white 
					border 1px solid alpha(cyan_1,.75)
					display block
					height 120px
					min-width 120px
					width 120px
				.client-data
					padding 10px
					width 100%
					.title 
						font-weight bold
						font-size 12pt
					.address 
						font-size 9pt
						margin 4px 0
				.button 
					min-width 80px
					text-align right
					width 80px
					a 
						margin 0 0 4px 0
			.promos
				width 100%
				.item
					background-color white
					background-color alpha(cyan_0,.2)
					border 1px solid alpha(cyan_1,.75)
					display flex 
					padding 10px
					margin 0 0 4px 0
					.promo-info 
						padding 0 16px 0 0
						color Gray(60)
						width 100%
						.title 
							font-weight bold
							color cyan_4
							display block
							margin-bottom 4px
							font-size 11pt
						.subtitle 
							color cyan_3
							font-size 9pt
						.price 
							color cyan_4
							margin 4px 0 0 0
							font-weight bold
							font-size 12pt
						.price-discount
							font-size 10pt 
							font-weight 400
					.buttons
						position relative
						width 190px
.promo-container
	display flex
	flex-wrap wrap
	margin 0 -8px 0 -8px
	.mod-promo 
		min-height 160px
		padding 0 8px 16px 8px
		width (100/2)%
		.wrapper
			height 100%
			background-color white
			border 1px solid Gray(10)
			//border-radius 4px
			box-shadow 2px 2px 4px alpha(black,.05)
			padding 0
			display flex 
			.thumb 
				background-color Gray(10)
				min-width 140px
				//border-bottom-left-radius 4px
				//border-top-left-radius 4px
				width 140px
			.data 
				display flex 
				align-content space-between
				flex-wrap wrap
				width 100%
				.data-body
					padding 10px 16px
					width 100%
					.title 
						color cyan_4
						font-size 13pt
						font-weight 600
						line-height 1.8rem
					.subtitle
						color Gray(50)
						font-size 10pt
						margin 10px 0
				.data-footer 
					padding 8px 16px
					//background-color alpha(cyan_0,.4)
					//background-color Gray(3)
					border-top 1px solid Gray(5)
					color Gray(50)
					font-size 9pt
					width 100%
			.actions 
				border-left 1px solid Gray(5)
				display flex 
				flex-wrap wrap
				align-items center 
				justify-content center
				padding 10px 16px
				min-width 172px
				width 172px
				.price 
					color cyan_4
					font-weight 500
					font-size 14pt
				.price-discount
					font-size 11pt
				.buttons
					position relative
					width 140px
.client-container 
	display flex
	flex-wrap wrap
	margin 0 -8px 0 -8px
	.mod-client
		padding 0 8px 16px 8px
		width (100/6)%
		&:hover,&:focus
			text-decoration none
			.wrapper 
				border 1px solid cyan_2
				box-shadow 5px 5px 6px alpha(black,.1)
				opacity .85
				//transform translateY(-1px) translateX(-1px)
		.wrapper 
			align-content space-between
			background-color white
			border 1px solid Gray(10)
			box-shadow 2px 2px 4px alpha(black,.05)
			display flex 
			flex-wrap wrap 
			height 100%
			transition 300ms all ease-out
			.thumb 
				background-color white
				border-bottom 1px solid Gray(5)
				width 100%
				position relative
				.fav 
					right 8px
					color Gray(15)
					cursor pointer
					position absolute
					top 6px
					font-size 2.5rem
					&:hover 
						color fucsia_3
					.active 
						color fucsia_3
			.data 
				padding 8px 16px
				width 100%
				.title
					font-size 13pt
					font-weight 600
					line-height 1.8rem
				.subtitle 
					font-size 10pt
					color Gray(50)
					margin 10px 0
			.location
				background-color Gray(3)
				font-size 9pt 
				padding 6px 16px
				width 100%
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------- MODS -----------------*/
/*--------------------------------------*/
.mod-client-2
	display block
	border 1px solid Gray(5)
	padding 8px
	margin-bottom 26px
	Shadow(3px 3px 4px Gray(5))
	Transition(all 200ms linear)
	&:hover 
		border 1px solid Gray(5)
		Shadow(0 0px 4px Gray(5))
		text-decoration none
		color Gray(40)
	.caption 
		.dp-flexbox
			padding 6px 0 0 0
			.flexbox-item
				background-color fucsia_0
				flex-grow 1
				font-size 9pt
				margin 0 1px
				padding 6px
				text-align center
				&:last-of-type
					border-right none
.mod-news 
	background-color white
	border 1px solid Gray(10)
	display block
	overflow hidden
	margin 0 0 16px 0
	Transition(opacity 300ms ease-out)
	.caption
		height 200px
		padding 10px
		position relative
		i 
			font-size 9pt
		p 
			font-size 8pt
			margin-top 6px
		h3,h4
			font-weight 400
			margin-top 2px
		.readmore
			background-image linear-gradient(bottom,white,white,rgba(255,255,255,0.5))
			bottom 0
			left 0
			padding 26px 10px 4px 10px
			position absolute
			width 100%
	&:hover
		opacity 0.75		
		text-decoration none
.mod-tile-2
	BoxSizing()
	margin 16px 2px
	min-height 120px
	//max-width 600px
	position relative
	.dp-flexbox
		.flex-item
			width 100%
	.icons
		background-color white
		position relative
	.caption 
		background-color rgba(231,20,123,0.85)
		color white
		bottom 0
		left 0
		padding 8px 16px
		position absolute
		Transition(background-color 300ms ease-out)
		width 100%
		h1,h2,h3,h4
			margin 4px 0	
	.sale-tag
		position absolute
		top 10%
		left -5px
		&:before
			border-right 5px solid black
			border-left 5px solid transparent
			border-top 5px solid transparent
			border-bottom 5px solid transparent
			bottom -9px
			content ''
			height 0
			position absolute
			left -5px
			width 0
		span 
			background-color rgba(231,20,123,1)
			color #fff
			font-size 9pt
			padding 6px 10px
			position relative
	&:hover 
		.caption
			background-color rgba(0,0,0,0.85)
		.dp-flexbox
			color black
.mod-tile
	border 1px solid Gray(10)
	display block
	//max-width 600px
	margin 10px 0
	position relative
	transition opacity 300ms linear
	&:hover 
		text-decoration none
		opacity 0.75
	.thumb-cover 
		position relative
		overflow hidden
		p
			font-size 0.9em
	.caption			
		background-color fucsia_3
		color white
		padding 4px 16px
		position relative
		overflow hidden
		white-space nowrap
		.hidden-zone
			background-image linear-gradient(left, rgba(0,0,0,0), fucsia_3)
			height 38px
			position absolute
			right 0
			top 0
			width 100px
		h3
			margin 0 0 4px 0
			height 28px			
		h4
			margin 4px 0
		p 
			margin 0
	.icons 
		background-color Gray(60)
		background-color aqua_6
		color white
		display flex
		justify-content space-between
		padding 4px 16px
		.col 
			padding 0
			text-align center
			i 
				font-size 9pt
	.sale-tag
		position absolute
		top 8px
		left -5px
		&:before
			border-right 5px solid black
			border-left 5px solid transparent
			border-top 5px solid transparent
			border-bottom 5px solid transparent
			bottom -6px
			content ''
			height 0
			position absolute
			left -5px
			width 0
		span 
			background-color fucsia_3
			color #fff
			font-size 7.5pt
			padding 4px 10px
			position relative
.mod-tile-wide
	border 1px solid Gray(10)
	display block
	display flex
	height auto
	margin 10px 16px
	padding 16px
	.content
		width 100%
		.title 
			margin 0 0 8px 0
			padding 0
			font-weight 600
			color black
		.caption
			margin 0 0 8px 0
		small 
			color Gray(40)
	.action
		border-left 1px solid Gray(10)
		text-align right
		width 140px
		.btn-group
			margin 10px 0
		.price 
			font-size 14pt
			font-weight 600
.mod-mosaic
	transition opacity 300ms ease-out
	overflow hidden
	.bg
		transition transform 1200ms cubic-bezier(.23,1,.32,1)
	.caption
		//background-color rgba(231,18,124,.55)
		//background-color rgba(104,187,206,.55)
		background-color rgba(33,86,99,.55)
		bottom 0
		border 1px solid aqua_3
		display flex
		align-items center
		justify-content center
		color white
		left 0
		height 100%
		padding 6px 16px
		position absolute
		text-align center
		transition all 1200ms cubic-bezier(0.23,1,0.32,1)
		width 100%
		h4 
			margin 0
			font-size 14pt
			font-weight 400
			//text-transform uppercase
	&:hover
		.caption 
			background-color rgba(231,18,124,.75)
			color white
		.bg 
			transform scale3d(1.2,1.2,1)
#glossary_carousel
	padding 6px 0 2px 0
	margin 0
.clients-carousel
	padding 16px 10px	
	display flex
	flex-wrap wrap
	.owl-carousel
		display flex
	.mod-client 
		background-color white
		border 1px solid #dfdfdf
		display block
		transition 300ms all ease-out
		height 100%
		&:hover 
			border 1px solid cyan_2
			box-shadow 5px 5px 6px alpha(black,.1)
			//transform translateY(-1px) translateX(-1px)
			opacity .85
			text-decoration none			
		.wrapper 
			//background-color yellow
			height 100%
			position relative
			.thumb 
				position relative 
				.fav 
					right 8px
					color Gray(15)
					cursor pointer
					position absolute
					top 6px
					font-size 2.5rem
					&:hover 
						color fucsia_3
					.active 
						color fucsia_3
			.data
				border-top 1px solid #dfdfdf
				//height 100px
				margin-bottom 20px
				padding 10px
				.title 
					color black
					font-weight 500
					line-height 1.15
				.subtitle 
					margin-top 10px
					color Gray(50)
					font-size 1.15rem
					line-height 1.4
			.location
				background-color Gray(3)
				bottom 0
				font-size 1.15rem
				padding 4px 8px
				//overflow hidden
				white-space nowrap
				position absolute
				width 100%
				&:after
					content ''
					//background-color white
					Background-Gradient(top,alpha(white,0),white)
					position absolute
					top -10px
					left 0
					height 10px
					width 100%
.promos-highlight
	padding 0
	display flex 
	flex-wrap wrap
	position relative
	.mod-promo 		
		padding 0 15px 15px 0
		//background-color white
		position relative
		display block
		width 100%		
		&:hover 
			text-decoration none
			.wrapper
				box-shadow 0px 0px 6px alpha(black,.35)
		.wrapper
			box-shadow 2px 2px 4px alpha(black,.05)
			background-color white
			position relative
			border 1px solid alpha(aqua_3,.5)
			height 100%
			transition 300ms all ease-out
			.mod-body
				width 100%
				.image-wrapper
					background-color Gray(5)
					position relative
					height 150px
					//min-width 160px
					//width 160px
					.sale-tag
						position absolute
						top 8px
						left -5px
						//padding 2px 16px
						span 							
							background-color aqua_3
							font-weight 500
							color #fff
							font-size 9pt
							padding 6px 10px
							position relative
						&:before
							border-right 5px solid black
							border-left 5px solid transparent
							border-top 5px solid transparent
							border-bottom 5px solid transparent
							bottom -9px
							content ''
							height 0
							position absolute
							left -5px
							width 0
					.fav 
						right 8px
						color Gray(15)
						cursor pointer
						position absolute
						top 6px
						font-size 2.5rem
						&:hover 
							color fucsia_3
						.active 
							color fucsia_3
				.content 
					//height 120px
					padding 8px
					width 100%
					.title 
						color aqua_5
						display block
						font-weight 500
						padding 0
						font-size 1.5rem
						word-wrap break-word
						height 40px
						line-height 1.2
					.subtitle
						//height 30px
						//overflow hidden
						color Gray(50)
						margin 6px 0
						font-size 1.125rem
						line-height 1.4
					.location 
						display block
						color Gray(45)
						margin-top 0
						margin 6px 0
						font-size 1.10rem
						line-height 1.2
						i 
							margin-right 4px
						
			.mod-footer 
				padding 0
				background-color Gray(0)
				position relative 
				//display flex 
				//align-items flex-end
				//justify-content space-between
				height 60px
				bottom 0
				width 100%
				.actions
					height 100% 
					margin 0					
					display flex 
					justify-content space-between
					align-items flex-end
					padding 10px
					.pricing
						width 50%
						.price 
							color Gray(80)
							font-weight 500
							font-size 1.8rem
						.strikethrough
							color Gray(40)
							font-size 1.2rem
					.promo-buttons 
						width 50%
	.mod-promo-6
		width (100/6)%
	.mod-promo-5
		width (100/5)%
	.mod-promo-4
		width (100/4)%
	.mod-promo-3
		width (100/3)%
	.mod-promo-2
		width (100/2)%
	.mod-promo-1
		width 100% !important
		padding 0 0 15px 0
		.wrapper
			.mod-body
				.content
					.title 
						height auto
.promo-buttons
	position relative
	min-width 136px
	.main-button
		background-color aqua_3
		display flex
		justify-content space-between		
		&:hover,&:focus
			background-color aqua_4
			a 
				text-decoration none
		a
			color white 
			padding 2px 8px
			display block
			font-size 1.3rem
			font-family 'Fira Sans Condensed'
			width 100%
		i.icon
			min-width 32px 
			width 32px
			color white 
			padding 3px 10px
			font-size 1.4rem
		i.arrow
			min-width 24px 
			width 24px
			background-color aqua_5
			cursor pointer
			color white
			padding 4px 8px
			&:hover 
				background-color aqua_6
	ul 
		border 1px solid cyan_1
		box-shadow 2px 2px 6px alpha(black,.07)
		margin 0
		padding 0
		position absolute
		width 100%
		z-index 99
		li
			align-items center
			background-color white
			font-size 1.325rem
			display flex
			a 
				color aqua_5				
				font-family 'Fira Sans Condensed' 
				padding 6px 16px
			&:hover,&:focus
				background-color aqua_5
				i 
					color white
				a
					color white
					text-decoration none
			i 
				color aqua_5
				padding 6px 10px
/*--------------------------------------*/
/*------------ RESPONSIVE --------------*/
/*--------------------------------------*/
@media screen and (max-width 1600px)
	.client-container 
		.mod-client 
			width (100/5)%
			
	.promos-highlight
		.mod-promo 
			width (100/4)%
@media screen and (max-width 1440px)
	.client-promo-container
		.mod-client-promos
			///margin 0
			//padding 0 0 8px 0
			width (100/2)%
	.client-container 
		.mod-client 
			width (100/4)%
	.promo-container
		.mod-promo
			.wrapper
				justify-content space-between
				flex-wrap wrap
				align-content flex-start
				.thumb 
					height 120px
					flex-grow 1
					order 1
				.data
					min-height 120px
					border-top 1px solid Gray(5)
					order 3
				.actions
					order 2
					width 180px
@media screen and (max-width 1200px)
	.promos-highlight
		.mod-promo 
			width (100/2)%
@media screen and (max-width 991px)
	.overview
		.overview-header
			display block	
			.info 
				max-width 100%
				width 100%
	.client-promo-container
		.mod-client-promos
			margin 0
			padding 0 0 8px 0
			width 100%
	.promo-container
		.mod-promo
			width (100/1)%
	.client-container 
		.mod-client 
			width (100/3)%	
@media screen and (max-width 767px)
	nav
		ul.main-menu 
			display none
			li
				display block
				text-align left
		.fa-bars
			display block
	.search-page
		.container,.container-fluid
			.search-container
				display block
				.right-column
					padding-left 0				
	.home-slider
		.container-fluid
			.row
				.col-right,.col-left
					.mod-slide
						.blank 
							height auto
						.slide
							.caption
								font-size 80%
								/*position relative
								width 100%*/
	.overview 
		.container
			.box-container
				flex-wrap wrap
				.left-box,.right-box
					width 100%
	.overview
		.overview-header
			display block
			.info,.gallery
				width 100%
				max-width 100%				
			.info
				.header-info
					display block
					margin 0 0 0 0
					.title 
						margin 8px 0 0 0
						display block
				.box-icons
					.item 
						flex-grow 1
						border-right 1px solid Gray(5)
						border-bottom none
					.item:last-of-type
						border none
		.overview-info
			#stores
				height 260px
	footer 
		.container 
			text-align center
			ul 
				margin 0
				padding 10px
			.socials
				justify-content center
	.profile
		.container
			.profile-header
				display block
	.blog
		.container 
			display block
			.blog-related 
				width 100%
				margin-left 0
	.blog-page
		.container 
			display block
			.blog-related 
				width 100%
				margin-left 0
	.promo 
		.overview-header
			.info 
				width 100%
				min-width 100%
			.gallery 
				height 280px
	.block-buttons
		button
			display block !important
			float none !important	
			margin 16px 0
			width 100%
	.nav-tabs
		white-space nowrap
		overflow-x auto
		overflow-y hidden
		li 
			float none 
			display inline-block
	.social-tab
		top auto
		bottom 0
		height 36px
		width 100%
		.icon-social 
			display inline-block	
		.icon-social:hover 
			i
				padding 10px
	.client-container 
		.mod-client 
			width (100/2)%
	.promos-highlight
		.mod-promo 
			width 100%
			.mod-body 
				.content
					height auto
			.mod-footer 
				position relative
@media screen and (max-width 592px)
	.client-promo-container
		.mod-client-promos
			.wrapper 
				display block
				.client
					flex-wrap wrap
					width 100%
					.client-data
						width calc(100% - 120px)
					.button
						text-align left
						margin-top 10px
				.promos 
					padding 4px 0
					.item
						display block
						.promo-info
							margin-bottom 16px
	.promo-container
		.mod-promo
			.wrapper 
				display block
				.thumb 
					display none
				.data 
					.data-footer 
						background-color transparent
				.actions
					border-top 1px solid Gray(5)
					border-left none
					//display block
					justify-content space-between
					width 100%
	.client-container 
		.mod-client 
			width 100%
			.wrapper 
				.thumb 
					max-height 260px
				.data 
					.title 
						font-size 11pt
					.subtitle
						font-size 9pt
.col-bootstrap
	margin 10px 0
/*--------------------------------------*/
/*------------- ADMIN ------------------*/
/*--------------------------------------*/
.header-admin
	.logo 
		padding 36px 10px
	.nav-tabs
		li
			display inline-block
			float none
			vertical-align top 
		.active
			a
				background-color Gray(5)
				background-color #ADD8E6
				color white
.page-header
	background-color Gray(30)
	background-color fucsia_2
	background-color aqua_3
	color white
	padding 40px 0 9px 0
	position relative
	margin 0
	hr 
		margin 0 0 16px 0
	h1
		font-weight 700
	p 
		font-size 11pt
.mod-menu-container
	min-height 100px
	max-height 696px
	overflow auto
	.mod-menu
		Transition(opacity,300ms,ease-out)
		margin-bottom 2px
		&:hover 
			opacity 0.6
.admin-gallery
	max-height 280px
	overflow auto
	.thumbnail
		margin 2px
		position relative
		.redbg 
			background-color rgba(150,20,30,0.65)
			display none
			height 100%	
			left 0
			position absolute
			top 0
			width 100%
			i 
				cursor pointer
				&:hover 
					color orange
			.delete
				position absolute
				right 8px
				top 8px
		&:hover
			.redbg 
				display block	
.mod-container
	max-height 580px
	overflow auto
	.mod-item
		background-color  white
		border 1px solid Gray(10)
		margin 2px 0 6px 0
		opacity 1
		padding 10px
		position relative
		Radius(4px)
		Shadow(2px 2px 4px 0 rgba(0,0,0,0.25))
		Transition(all 300ms ease-out)
		&:hover 
			border 1px solid Gray(20)
			Shadow(0 0 4px 0 rgba(0,0,0,0.15))
		.thumbnail
			margin-bottom 0
			height 80%
			position absolute
			width 80px 
		.data
			overflow hidden
			margin 0 130px 0 90px
			hr 
				margin 8px 0 8px 0
			.buttons
				top 10px 
				position absolute
				right 10px
			.options
				bottom 10px
				position absolute
				right 10px
.admin-box
	padding 0 0 40px 0
	.container
		padding-top 16px
		padding-bottom 16px
		//Shadow(1px 1px 2px 1px rgba(0,0,0,0.10))
.mod-card	
	Transition(width 300ms ease-out)
	margin 0 0 4px 0
	.card-inner
		border 1px solid Gray(10)
		overflow hidden
		margin-bottom 8px
		transition box-shadow 300ms ease-out
		&:hover 
			Shadow(5px 5px 6px 1px rgba(0,0,0,0.16))
		.thumb
			position relative
			.buttons 
				position absolute
				bottom 10px
				right 10px
			.selector
				left 8px 
				position absolute
				top 8px			
		.caption
			background-color white
			position relative
			h1,h2
				font-weight 700
				font-size 11pt
				height 40px
				line-height 16pt
				padding 10px 76px 6px 10px
				margin 2px 0
				overflow hidden
				position relative
				white-space nowrap
				&:after
					background-image linear-gradient(left, rgba(255,255,255,0), white)
					content ''
					height 40px
					position absolute
					width 80px
					right 0
					top 0					
			hr 
				margin 0
			p 
				font-size 10pt
				padding 10px
				margin 0
				strong
					color #01957B
			h2
				font-size 10pt
				padding 0 10px
				font-weight 400
				height auto
			h1.sm
				font-size 9pt
			.buttons
				display none
				position absolute
				top 10px
				right 10px
			.foot 
				align-items center
				border-top 1px solid Gray(10)
				color Gray(65)
				display flex 
				justify-content space-between
				padding 6px 10px
				text-align right	
			/*.edit
				cursor pointer
				position absolute
				top -20px
				right 10px
				.fa-circle
					Transition(color 300ms ease-out)
				&:hover 
					.fa-circle 
						color black
			.edit-list
				top 16px*/
.mod-container-xs
	height 120px
	overflow auto
.mod-container-sm
	height 240px
	overflow auto
.mod-container-md
	height 360px
	overflow auto
.mod-container-lg
	height 620px 
	overflow auto
.mod-list-thumb
	background-color  white
	border 1px solid Gray(10)
	margin 2px 0 6px 0
	opacity 1
	padding 10px
	position relative
	Radius(4px)
	Shadow(2px 2px 4px 0 rgba(0,0,0,0.25))
	Animation(all 300ms ease-out)
	&:hover 
		border 1px solid Gray(20)
		Shadow(0 0 4px 0 rgba(0,0,0,0.15))
	.thumbnail
		margin-bottom 0
		height 80%
		position absolute
		width 80px 
	.data
		overflow hidden
		margin 0 130px 0 90px
		hr 
			margin 8px 0 8px 0
		.buttons
			top 10px 
			position absolute
			right 10px
		.options
			bottom 10px
			position absolute
			right 10px
.mod-list
	background-color white
	border 1px solid Gray(10)
	margin-bottom 4px
	overflow hidden
	padding 4px 14px
	position relative
	Radius(2px)
	///Transition(shadow 200ms linear)
	&:hover 
		box-shadow 2px 2px 4px 0 rgba(0,0,0,0.12)
	h4
		margin-right 50px
		font-size 10pt
		font-weight 400
	.buttons
		position absolute
		top 10px
		right 10px		
	p 
		font-size 9pt
	small 
		color Gray(60)
		font-family 'Open Sans', sans-serif
		font-size 8pt
	hr
		margin 6px 0
.mod-list.active 
	background-color aqua_2
	border 1px solid aqua_3
	&:after
		background-color black
		content ''
		left -5px
		top 38%
		height 10px
		position absolute
		transform rotateZ(45deg)
		width 10px		
	&:hover 
		box-shadow none
.form-group
	position relative
.input-search-suggestions
	background-color white
	border 1px solid Gray(20)
	border-bottom-right-radius 6px
	border-bottom-left-radius 6px
	//display none
	max-height 220px
	///top 34px
	left 0
	overflow auto
	padding 0
	top 34px
	position absolute
	box-shadow 0 2px 4px rgba(0,0,0,0.2)
	width 100%
	z-index 11
	li 
		display block
		cursor pointer
		margin 2px 0
		padding 6px 10px
		&:hover 
			background-color Gray(10)
	li.active 
		background-color Gray(10)
.panel-admin-mod
	.panel-heading 
		background-color Gray(10)
		color Gray(60)
		padding 6px 16px
	.panel-body
		margin 0
		padding 0
		.list-group 
			margin-bottom 0
			.list-group-item
				position relative
				border none
				border-top 1px solid Gray(10)
				border-radius 0				
				.buttons
					right 10px
					top 10px
					position absolute
				.item
					margin-right 50px
					i 
						cursor pointer
						margin 0 8px 0 0
			.list-group-item:first-of-type
				border-top none
.block-white
	background-color white
	border 1px solid Gray(10)
	border-bottom-left-radius 4px
	border-bottom-right-radius 4px
	box-shadow 2px 2px 4px alpha(black,.05)
	margin 8px 0
	padding 26px
	hr 
		margin 15px 0 15px 0
	.title-bar 
		margin -26px -26px 15px -26px
		padding-left 26px
		text-align left
.block-buttons
	position relative
	.inactive-block
		background-color rgba(255,255,255,.8)
		cursor not-allowed
		display none
		left 0
		position absolute
		top 0
		height 100%
		width 100%
	.inactive-block.active
		display block
.tab-content
	background-color white
	margin 0 0 8px 0
	.tab-panel
		border-left 1px solid Gray(10)	
		border-right 1px solid Gray(10)	
		border-bottom 1px solid Gray(10)
		padding 36px 26px
		position relative
		display none
		&:first-of-type
			display block
		.pop
			background-color rgba(255,255,255,0.95)
			height 100%
			left 0
			padding 16px
			position absolute
			top 0
			width 100%
			z-index 3
			h1 
				font-size 18pt
			.close 
				position absolute
				right 16px
				top 16px
				opacity 1
				font-size 9pt
				&:hover 
					color fucsia_3
.pop-schedules 
	.row-days
		overflow auto
		margin 6px 0
		.form-inline
			margin 0 0 16px 0
		button.active
			background-color aqua_3
			color white
	.hours 
		margin 16px 0
		display flex
		flex-wrap wrap
		button
			border 1px solid aqua_1
			cursor pointer
			display inline-block
			font-family 'Fira Sans Condensed', sans-serif
			margin 0 4px 4px 0
			padding 10px 0
			text-align center
			width 64px
			&:hover 
				background-color aqua_1
		button.active 
			background-color aqua_3
			color white
.flex-options
	display flex 
	.flex-item
		border 1px solid Gray(10)
		cursor pointer
		padding 10px 16px
		margin 0 10px 0 0
		&:hover 
			background-color Gray(5)
.cke_editable
	padding 18px
.ui-datepicker
	z-index 3 !important
.block-box
	background-color white
	border 1px solid Gray(10)
	border-top 4px solid aqua_3
	box-shadow 2px 2px 8px rgba(0,0,0,0.1)
	padding 0
	margin 0 0 8px 0
	.box-title,.box-content,.box-footer
		padding 8px 26px
	h1,h2,h3,h4,h5,h6,p,small
		margin 6px 0
	.box-title 
		border-bottom 1px solid Gray(5)
	.box-footer
		border-top 1px solid Gray(5)
.mod-sales
	background-color white
	border 1px solid Gray(10)
	box-shadow 2px 2px 12px rgba(0,0,0,0.08)
	margin 0 0 8px 0
	.sale-header
		display flex
		.thumb-container 
			padding 16px
			.thumb
				background-color aqua_4
				border 1px solid Gray(10)
				height 80px
				width 80px
		.caption 
			flex-grow 1
			padding 8px 16px
			h1,h2,h3,h4,h5,hr
				margin 6px 0
				a 
					color black
					&:hover,&:focus
						color aqua_3
						text-decoration none
		.action 
			padding 16px
			width 60px
		.sale-actions
			border-top 1px solid Gray(10)
			padding 8px 0
			margin-top 6px
			.btn-group
				margin-left 8px
		.close 
			padding 4px 6px
	.sale-footer 
		display none
		padding 0 16px
		.sale-user
			background-color Gray(3)
			border-top 1px solid aqua_1
			border-bottom 1px solid aqua_1
			padding 16px 10px 0 10px
			margin-bottom 10px
			overflow hidden
			position relative
			justify-content space-between
			&:after,&:before
				color Gray(6)
				font-family 'FontAwesome'
				font-size 96pt					
				position absolute
				z-index 1
			&:after
				content '\f10d'
				top -16px
				left -6px
			&:before
				content '\f10e'
				bottom -20px
				right -6px
			.user
				position relative
				display flex
				z-index 2
				.item 
					.user-thumb
						background-color Gray(20)
						border-radius 4px
						height 40px
						width 40px
				.item:last-of-type
					flex-grow 1
					padding 0 20px
					.mail 
						color Gray(40)
						font-size 10pt
						&:hover 
							color fucsia_3
							text-decoration none
			.feedback
				padding 10px 0
				position relative
				z-index 2
				p[data-tag="comment"]
					position relative
					font-style italic
				.stars 
					font-size 9pt
	.sale-user-footer		
		display block