.btn-fucsia
	background-color $fucsia_3
	border-color $fucsia_3
	color white
	&:hover,&:focus,&:active,&:active:hover,.active:hover
		background-color $fucsia_4
		border-color $fucsia_5
		color $pink_1
.btn-cyan
	background-color $cyan_4
	border-color $cyan_5
	color white
	&:hover,&:focus,&:active,&:active:hover,.active:hover
		background-color black
		border-color $cyan_5
		color $cyan_1
.btn-default
	//color $fucsia_3
	color gray(80)
.btn-white,.btn-default
	background-color white
	border 1px solid gray(10)
	color gray(80)
.btn-white.active
	background-color $aqua_3
	color white
	border none

.btn-white-fucsia
	background-color white
	border 1px solid $fucsia_3
	color $fucsia_4
.btn-transparent
	background-color transparent
	border 1px solid gray(10)
	color gray(60)
	&:hover
		background-color $yellow_1
		color $yellow_4
.btn-primary
	background-color $aqua_4
	border-color $aqua_4
/*.btn-secondary
	background-color $aqua_5
	border-color $aqua_4
	color $aqua_2
	&:hover,&:focus,&:active,&:active:hover,.active:hover
		background-color $aqua_4
		border-color $aqua_4
		color white*/


.btn-group-xs > .btn, .btn-xs
	padding .25rem .4rem
	font-size .800rem
	line-height .5
	border-radius .2rem
	span
		font-size .8rem