$colours = {
	'gold-1' : #D9CAAD,
	'gold-2' : #756c5d,

	'fucsia-0' : #fceff8,
	'fucsia-1' : #f4cee7,
	'fucsia-2' : #f5b9d3,
	'fucsia-3' : #e7127c,
	'fucsia-4' : #950b4f,
	'fucsia-5' : #47142C,

	'pink-1' : #fcd9d9,
	'pink-2' : #df7979,
	'pink-3' : #df3e3e,

	'cyan-0' : #d4effb,
	'cyan-1' : #b6d4f2,
	'cyan-2' : #639edb,
	'cyan-3' : #2e71b7,
	'cyan-4' : #224b78,
	'cyan-5' : #172e48,

	'yellow-1' : #fff2dc,
	'yellow-2' : #ffe4bc,
	'yellow-3' : #c79448,
	'yellow-4' : #7f5415,

	'green-1' : #dffadb,
	'green-2' : #7cbe72,
	'green-3' : #407938,
	'green-4' : #164010,

	'aqua-0' : #f0fffc,
	'aqua-1' : #A1C7C5,
	'aqua-2' : #72adaa,
	'aqua-3' : #468885,
	'aqua-4' : #286461,
	'aqua-5' : #004C5B,
	'aqua-6' : #133941
}

gray(PC)
	col = 255-((255*PC)/100)
	rgb(col,col,col)

for name,value in $colours
	.text-{name}
		color value
	.bg-{name}
		background-color value
	.border-{name}
		border 1px solid value
	define('$'+replace('-','_',name),value)