///@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'

@font-face
	font-family 'Birthstone'
	font-weight 300
	font-style normal
	font-display swap
	src url('../fonts/birthstone.ttf')

.ff-birthstone
	font-family 'Birthstone', cursive
	font-size 1.625em
ff_birthstone()
	font-family 'Birthstone', cursive

@font-face
	font-family 'Roboto'	
	font-style normal
	font-display swap
	src url('../fonts/roboto-vf.ttf')

@font-face
	font-family 'Proxima Nova'
	font-weight 300
	font-style normal
	font-display swap
	src url('../fonts/proxima-nova-300.eot')
	src url('../fonts/proxima-nova-300.eot?#iefix') format('embedded-opentype'),
			url('../fonts/proxima-nova-300.woff2') format('woff2'),
			url('../fonts/proxima-nova-300.woff') format('woff'),
			url('../fonts/proxima-nova-300.ttf') format('truetype')

@font-face
	font-family 'Proxima Nova'
	font-weight 400
	font-style normal
	font-display swap
	src url('../fonts/proxima-nova-400.eot')
	src url('../fonts/proxima-nova-400.eot?#iefix') format('embedded-opentype'),
			url('../fonts/proxima-nova-400.woff2') format('woff2'),
			url('../fonts/proxima-nova-400.woff') format('woff'),
			url('../fonts/proxima-nova-400.ttf') format('truetype')

@font-face
	font-family 'Proxima Nova'
	font-weight 600
	font-style normal
	font-display swap
	src url('../fonts/proxima-nova-600.eot')
	src url('../fonts/proxima-nova-600.eot?#iefix') format('embedded-opentype'),
			url('../fonts/proxima-nova-600.woff2') format('woff2'),
			url('../fonts/proxima-nova-600.woff') format('woff'),
			url('../fonts/proxima-nova-600.ttf') format('truetype')

@font-face
	font-family 'Proxima Nova'
	font-weight 700
	font-style normal
	font-display swap
	src url('../fonts/proxima-nova-700.eot')
	src url('../fonts/proxima-nova-700.eot?#iefix') format('embedded-opentype'),
			url('../fonts/proxima-nova-700.woff2') format('woff2'),
			url('../fonts/proxima-nova-700.woff') format('woff'),
			url('../fonts/proxima-nova-700.ttf') format('truetype')
