table.dataTable
	margin 1.5rem 0 !important
	thead
		th,td
			border-bottom 1px solid gray(10)
table.dataTable.no-footer
	border-bottom 1px solid gray(10)
.dataTables_info
	font-size 1.2rem
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate
	color gray(60)

.dataTables_wrapper
	input,select
		border 1px solid gray(10)
		height 30px
		line-height 30px
		padding 5px 10px
		font-size 12px
		border-radius 3px
	.dataTables_paginate
		.paginate_button
			border none !important
			padding .25em .75em !important
			background none !important
			&:hover
				color $pink_3 !important
		.current
			opacity .25
	.table-spacer-top
		margin .665rem 0
		position relative
		height 46px

	.html5buttons
		margin-bottom 0
		.dt-buttons
			float none
			.dt-button
				background-color $green_2 !important
				background-image none
				border-radius 4px
				border 1px solid gray(10)
				color white
				padding 6px 12px

.dataTables_wrapper
	table
		width 100% !important
	.table-spacer-top
			.html5buttons
				margin-bottom 1.5rem
				.dt-buttons
					button
						padding .325rem 1.275rem

	@media screen and (max-width 767px)
		.table-spacer-top
			.html5buttons
				margin-bottom 1.5rem
				.dt-buttons
					display flex
					button
						flex-grow 1
