@media screen and (max-width 767px)
	.stats-highlights	
		margin-bottom 16px
		.stats-block 
			min-width 0 
			margin 0
			width (100/2)%
			
	.mod-list		
		padding 16px
		h4			
			margin 0 0 10px 0
		.buttons
			top 0
			right 0
			position relative			