.blog-page
	background-color gray(0)
	padding-bottom 16px
	.container 
		display flex
		.blog-container
			width 100%
			.breadcrumb 
				background-color white
				margin 16px 0 4px 0
				border-radius 0
			.title 
				padding 16px
				position relative
				text-align left
				.bg
					mix-blend-mode multiply
				a 
					color white
				h1,h2,h3,h4
					color white
					font-weight 400
					position relative
					margin-top 0
			.title-header
				padding 68px 16px 26px 16px
			.blog-gallery
				position relative
				height 320px
			.blog-content
				background-color white
				padding 16px
				margin-bottom 8px
				img 
					max-width 100%
		.blog-related
			background-color white
			border-left 1px solid gray(10)
			margin 16px 0 0 16px
			min-width 360px
			padding 8px 16px
			width 360px
			h1 
				font-size 14pt
				margin 0
			.mod-related
				border-top 1px solid gray(5)
				display block
				margin 4px 0
				padding 10px 0
				&:hover 
					color $cyan_2
					text-decoration none
				h1
					font-size 13pt
					font-weight 400
					margin 8px 0
				p
					font-size 8pt
.blog 
	background-color gray(5)
	padding-bottom 16px