footer
	padding 66px 0
	.bg
		//filter grayscale(100%)
		//mix-blend-mode multiply
		opacity 1
	.container
		.logo
			max-width 240px
		.socials
			justify-content flex-start
			.icon
				color white
				border-color white
		ul
			li
				display block
				a
					color white
					display block
					padding 6px 0
					&:hover,&:focus
						color $fucsia_3
						text-decoration none
.copyright-footer
	padding 16px 0 36px 0
	background-color black
	color white