.home-slider

	margin 0
	padding 0

	.sliders
		position relative
		.owl-stage-outer
			.owl-stage
				background-color black
				display flex
				align-items center
				justify-content center
		.slide
			display block
			background-position center
			background-size cover
			transform translateX(1.5pt)
			//border 1px solid red
			img
				width 100%

		

		.owl-dots
			width 100%
			position absolute
			bottom 0
		.owl-dot
			span
				background-color white
				box-shadow 2px 2px 6px alpha(black,.25)
		.owl-dot.active
			span
				background-color $fucsia_4

		.owl-nav
			position absolute
			width 100%
			height 5px
			display flex
			top 50%
			justify-content space-between
			.owl-prev,
			.owl-next
				background-color transparent
				border-radius 50%
				height 30px
				width 30px
				flex()
				&:hover
					background-color transparent
					i
						color $pink_2
				i
					font-size 46pt
					color black
			.owl-prev
				transform translateY(-20px) translateX(0px)
			.owl-next
				transform translateY(-20px) translateX(0px)

	@media screen and (max-width 991px)
		.sliders
			.owl-controls
				.owl-nav
					.owl-prev,
					.owl-next
						i
							font-size 26pt

.slider-wide
	background-color gray(5)
	.sliders
		position relative
		padding 15.35%
		.slide
			opacity 0
			visibility hidden
			background-position left center
			background-size cover
			position absolute
			left 0
			top 0
			height 100%
			width 100%
			transition all 900ms $cubic
			img
				width 100%

		.slide.active
			opacity 1
			visibility visible

		.dots
			bottom 0
			padding 1rem
			left 0
			position absolute
			text-align center
			width 100%
			i
				color white
				font-size 9pt
				cursor pointer
				text-shadow 1px 1px 2px black
				margin 0 4px
				&:before
					content '\f111'
					font-family 'FontAwesome'
			i.active
				color $fucsia_3
			i.active:before
				font-family 'FontAwesome'
		.prev,.next
			align-items center
			color white
			cursor pointer
			display flex
			height 100%
			padding 0 8px 0 8px
			position absolute
			top 0
			i
				font-size 5rem
				text-shadow 1px 1px 2px black
			&:before
				content ''
				height 100%
				opacity 0
				left 0
				position absolute
				transition opacity 300ms ease-out
				width 100%
			&:hover
				&:before
					opacity 1
		.prev
			left 0
			&:before
				background-image linear-gradient(left, rgba(0,0,0,0.6), rgba(0,0,0,0))
		.next
			right 0
			&:before
				background-image linear-gradient(right, rgba(0,0,0,0.6), rgba(0,0,0,0))

	@media screen and (max-width 991px)
		.sliders
			padding 26%
			.prev,.next
				i
					font-size 2rem


.home-main-cards
	padding 3rem 0

	.main-card
		background-color gray(5)
		padding 2rem
		text-align center
		border-radius 8pt
		height 100%
		position relative

		.title
			font-size 16pt
			line-height 1.15
			color $aqua_4
		.image 
			position relative
			background-size cover 
			background-position center 
			background-repeat no-repeat
			margin .5rem 0
			img
				width 100%
			.image-bar
				background-color alpha($aqua_4, .75)
				bottom 0
				color white
				padding .5rem 1rem				
				position absolute
				width 100%
		.description
			.caption
				font-size 14pt
				line-height 1.15
				margin 1rem 0
			.caption.italic
				font-family "Google Sans Italic", sans-serif
				font-size 11pt

			.phrase
				font-size 10pt
				color $aqua_4
				font-weight 500
				display flex 
				align-items center
				justify-content center
				margin-top 2rem
				i
					font-size 16pt
					margin-right .5rem

		.button-outer
			margin 1rem 0
			left 0
			position absolute
			bottom -50px
			width 100%
			.button
				color white
				background-color $aqua_4
				padding .5rem 1.5rem
				border-radius 5pt
				font-size 13pt
				display inline-block
				cursor pointer
				transition background-color .3s
				&:hover
					background-color $fucsia_4
					color white



.home-categories
	padding 3rem 0
	.home-categories-modules

		display flex
		justify-content space-between
		.home-category-module
			width calc(100% / 3)

	.category-title
		padding .75rem
		text-align center
		font-size 22pt
		color white
		span.script
			font-family 'Birthstone', cursiva
			font-size 1.625em

	.category-list
		padding 1rem
		margin 0
		li
			display block
			a
				display inline-block
				font-size 14pt
				font-weight 600
				&:hover
					color $aqua_2

	@media screen and (max-width 991px)
		.home-categories-modules
			flex-wrap wrap
			.home-category-module
				width 100%




.news-home
	padding 36px 0
.home-carousel
	padding 3rem 0

.how-it-works
	padding 0 0 2rem 0
	.title
		display flex
		justify-content center
		align-items center
		position relative
		.title-bar 
			width 100% 
			height 8px 
			position absolute
		.title-button 
			position relative
			background-color $aqua_3
			padding .5rem 1.5rem
			color white
			border-radius 5pt
			font-size 16pt

	.caption 
		font-size 18pt
		max-width 720px
		margin 0 auto		
	
	.step 
		padding 1rem
		display flex
		align-items center
		justify-content center
		font-size 16pt
		i 
			margin-right 1rem
			font-size 26pt
			color $aqua_3
