
.hotsale-bar
	background-color black
	background-color $fucsia_4
	padding 4rem 1rem
	position relative
	color white
	.bg
		opacity .25
	.title
		font-weight 600

.hotsale-landing
	border-bottom 6px solid gray(5)
	padding 4rem 1rem 10rem 1rem
	.logo
		max-width 100px
		img
			width 100%
	.form-wrapper
		background-color gray(80)
		border-radius .75rem
		padding 3rem
		label,a
			color white