@media screen and (max-width 1600px)
	.client-container 
		.mod-client 
			width (100/5)%
			
	.promos-highlight
		.mod-promo 
			width (100/4)%
@media screen and (max-width 1440px)
	.client-promo-container
		.mod-client-promos
			///margin 0
			//padding 0 0 8px 0
			width (100/2)%
	.client-container 
		.mod-client 
			width (100/4)%
	.promo-container
		.mod-promo
			.wrapper
				justify-content space-between
				flex-wrap wrap
				align-content flex-start
				.thumb 
					height 120px
					flex-grow 1
					order 1
				.data
					min-height 120px
					border-top 1px solid Gray(5)
					order 3
				.actions
					order 2
					width 180px
@media screen and (max-width 1200px)
	.promos-highlight
		.mod-promo 
			width (100/2)%

@media screen and (max-width 991px)
	.overview
		.overview-header
			display block	
			.info 
				max-width 100%
				width 100%
	.client-promo-container
		.mod-client-promos
			margin 0
			padding 0 0 8px 0
			width 100%
	.promo-container
		.mod-promo
			width (100/1)%
	.client-container 
		.mod-client 
			width (100/3)%	
	nav
		ul.main-menu 
			display none
			li
				display block
				text-align left
				a 
					padding 5px 10px
		.fa-bars
			display block		

	.glossary-module
		.glossary-body
			.list
				.item
					min-width (100/2)%
					width (100/2)%
				

@media screen and (max-width 967px)
	.promo 
		.main-wrapper	
			flex-wrap wrap 
			.gallery 
				order 2
				min-width 0
				min-height 360px
				width 100%
			.info-wrapper 
				order 1
				
@media screen and (max-width 767px)
	.search-page
		.container,.container-fluid
			.search-container
				display block
				.right-column
					padding-left 0				
	.home-slider
		.container-fluid
			.row
				.col-right,.col-left
					.mod-slide
						.blank 
							height auto
						.slide
							.caption
								font-size 80%
								/*position relative
								width 100%*/
	.overview 
		.container
			.box-container
				flex-wrap wrap
				.left-box,.right-box
					width 100%
	.overview
		.overview-header
			display block
			.info,.gallery
				width 100%
				max-width 100%				
			.info
				.header-info
					display block
					margin 0 0 0 0
					.title 
						margin 8px 0 0 0
						display block
				.box-icons
					.item 
						flex-grow 1
						border-right 1px solid Gray(5)
						border-bottom none
					.item:last-of-type
						border none
		.overview-info
			#stores
				height 260px
	footer 
		.container 
			text-align center
			ul 
				margin 0
				padding 10px
			.socials
				justify-content center
	.profile
		.container
			.profile-header
				display block
	.blog
		.container 
			display block
			.blog-related 
				width 100%
				margin-left 0
	.blog-page
		.container 
			display block
			.blog-related 
				width 100%
				margin-left 0
	.promo 
		.overview-header
			.info 
				width 100%
				min-width 100%
			.gallery 
				height 280px
	.block-buttons
		button
			display block !important
			float none !important	
			margin 16px 0
			width 100%
	.nav-tabs
		white-space nowrap
		overflow-x auto
		overflow-y hidden
		li 
			float none 
			display inline-block
	.social-tab
		top auto
		bottom 0
		height 36px
		width 100%
		.icon-social 
			display inline-block	
		.icon-social:hover 
			i
				padding 10px
	.client-container 
		.mod-client 
			width (100/2)%
	.promos-highlight
		.mod-promo 
			width 100%
			.mod-body 
				.content
					height auto
			.mod-footer 
				position relative
	.glossary-page
		.page-content			
			.view-more
				.btn 
					width 100%
					height auto
					white-space normal
				.btn:first-of-type
					margin-bottom 10px
	
	.glossary-module
		.glossary-body
			.list
				.item
					min-width 100%
					width 100%

@media screen and (max-width 592px)
	.client-promo-container
		.mod-client-promos
			.wrapper 
				display block
				.client
					flex-wrap wrap
					width 100%
					.client-data
						width calc(100% - 120px)
					.button
						text-align left
						margin-top 10px
				.promos 
					padding 4px 0
					.item
						display block
						.promo-info
							margin-bottom 16px
	.promo-container
		.mod-promo
			.wrapper 
				display block
				.thumb 
					display none
				.data 
					.data-footer 
						background-color transparent
				.actions
					border-top 1px solid Gray(5)
					border-left none
					//display block
					justify-content space-between
					width 100%
	.client-container 
		.mod-client 
			width 100%
			.wrapper 
				.thumb 
					max-height 260px
				.data 
					.title 
						font-size 11pt
					.subtitle
						font-size 9pt